* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

/* Hero Style */
.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                      url('https://cdn5.f-cdn.com/contestentries/2241861/66503352/644948fe2a3e3_thumb900.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img { width: 150px; }

.lang-dropdown {
    background: rgb(0, 0, 0);
    color: rgb(255, 247, 247);
    border: 1px solid #555;
    padding: 6px 28px 6px 34px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: medium;
    
    
    
}

.btn-red-sm {
    background: #e50914;
    color: white;
    border: none;
    padding: 9px 15px;
    border-radius: 4px;
    font-weight:bold;
    cursor: pointer;
    font-size: small;
    
}

.hero-content {
    text-align: center;
    margin-top: 150px;
}

.hero-content h1 { font-size: 3.5rem; font-weight: 900; margin-bottom: 15px; }
.sub-1 { font-size: 1.5rem; font-weight: 500; margin-bottom: 25px; }
.sub-2 { font-size: 1.2rem; margin-bottom: 20px; }

.email-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-form input {
    width: 380px;
    padding: 18px;
    background: rgba(0,0,0,0.5);
    border: 1px solid #555;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-red-lg {
    background: #e50914;
    color: white;
    padding: 0 30px;
    font-size: 1.5rem;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Sections General */
.section-container {
    padding: 50px 10%;
}

h2 { font-size: 1.6rem; margin-bottom: 20px; }

/* Trending Numbers Style */
.trending-row {
    display: flex;
    gap: 45px;
    padding: 20px 0;
    overflow-x: auto;
}

.movie-box {
    position: relative;
    min-width: 170px;
}

.movie-box img {
    width: 100%;
    border-radius: 8px;
}

.num {
    position: absolute;
    bottom: -2px;
    left: -2px;
    font-size: 70px;
    font-weight: 800;
    color: #000;
    -webkit-text-stroke: 2px #fff; /* White outline for numbers */
}

/* Reasons Grid */
.reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 2fr));
    gap: 15px;
}

.card {
    background: linear-gradient(145deg, #192247 0%, #210e17 100%);
    padding: 30px 20px;
    border-radius: 12px;
    
}

.card h3 { margin-bottom: 15px; font-size: 1.3rem; }
.card p { color: #ccc; font-size: 0.95rem; line-height: 1.4; }

/* FAQ List */
.faq-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-item {
    background: #2d2d2d;
    padding: 24px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-item:hover { background: #414141; }

/* Footer Styling */
.footer {
    padding: 70px 10% 40px;
    color: #b3b3b3; /* Netflix grey color for links */
    max-width: 1000px;
    margin: 0 auto;
}

.footer-contact {
    margin-bottom: 30px;
    font-size: 1rem;
}

.footer-contact a {
    color: #b3b3b3;
    text-decoration: underline;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
    gap: 15px;
    margin-bottom: 40px;
}

.footer-links ul {
    list-style: none;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.85rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom select {
    background: rgba(0,0,0,0.6);
    color: white;
    border: 1px solid #555;
    padding: 8px 25px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.footer-bottom p {
    font-size: 0.8rem;
    margin-top: 10px;
}
